---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Home of Jonk's Junk";
---

<Layout pageTitle={pageTitle}>
	<div class="gif">
		<img
			width="300"
			height="259"
			alt="RaccoonSpaceGif"
			src="/space.webp"
		/>
	</div>
	<h1>JONK'S JUNK</h1>
	<small>ASPIRING DEVELOPER</small>
	<h2>ABOUT ME</h2>
	<p>A WIP Site.</p>
	<p>
		This is my page! It's still a work in progress so while I tidy up, take a look around at my (soon to be populated) links and projects!
	</p>
	<!-- <div class="button">
		<a href="/works/">
			<button class="button">My portfolio</button>
		</a>
	</div> -->
	<h2>SKILLS</h2>
	<div class="link-images">
		<img
			width="46"
			height="46"
			alt="C#"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-plain.svg"
		/>
		<img
			width="46"
			height="46"
			alt="DotNetCore"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"
		/>
		<img
			width="46"
			height="46"
			alt="TypeScript"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"
		/>
		<!-- <img
			width="46"
			height="46"
			alt="Angular"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg"
		/>
		<img
			width="46"
			height="46"
			alt="Bootstrap"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg"
		/>
		<img
			width="46"
			height="46"
			alt="CSS"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg"
		/>
		<img
			width="46"
			height="46"
			alt="HTML"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg"
		/> -->
		<img
			width="46"
			height="46"
			alt="JavaScript"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"
		/>
		<img
			width="46"
			height="46"
			alt="PostGres"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"
		/>
	</div>
	<h2>INTERESTS</h2>
	<p>
		When I can find time, I love to learn and tinker, whether it be hardware or software. I'm still in the phase of my life where everything is a concept waiting to be understood. So far, I've had experience working with C#, Python, React, Kubernetes, Azure, and Linux as my main areas.
	</p>
</Layout>
<style>
	/* small */
	small {
		background-color: #584966;
		color: #fdebf3;
		border-radius: 6px;
		font-family: "Josefin Sans", sans-serif;
		font-weight: 600;
		padding: 0.3em 0.6em 0.2em;
	}

	/* Button */
	button {
		background: rgba(0, 0, 0, 0);
		border: 2px solid #78c2ad;
		border-radius: 8px;
		color: #fdebf3;
		font:
			600 16px "Josefin Sans",
			sans-serif;
		padding: 8px 16px;
		transition:
			background-color 0.4s,
			color 0.4s;
	}

	button:hover {
		background-color: #78c2ad;
		color: #1e1e2e;
		cursor: pointer;
	}

	.button {
		text-align: center;
	}

	/* Skill images */
	.link-images img {
		margin: 16px 4px;
	}

	@media only screen and (max-width: 600px) {
		.link-images img {
			height: 30px;
			width: 30px;
			margin: 16px 1px;
		}
	}
</style>
