---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/">JONK'S JUNK</a>
    </div>
    <div class="nav-links">
        <a href="/works/">WORKS</a>
        <a href="/posts/">POSTS</a>
        <ThemeIcon />
    </div>
</div>
